
<!DOCTYPE html>
<html>

    <head>
        <title>myTechTest</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/DataTables/css/dataTables.bootstrap.css" rel="stylesheet" />
        <link href="~/Content/Site.css" rel="stylesheet" />
    </head>
    <body>
        <div id="table-container" class="container">
            @Html.Partial("TableView")
        </div>

        <div id="person-container" style="display:none" class="container">
            @Html.Partial("PersonView")
        </div>

        

        <script src="~/Scripts/jquery-1.10.2.js"></script>
        <script src="~/Scripts/bootstrap.js"></script>
        <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
        <script src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>
        <script src="~/Scripts/loadTable.js"></script>
        <script src="~/Scripts/loadPerson.js"></script>
</body>
</html>




