
<html>

    <head>
        <title>myTechTest</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/Site.css" rel="stylesheet" />
        <link href="~/Content/DataTables/css/dataTables.bootstrap.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <div class="row">
                <h1>People</h1>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <table id="peopleTbl" class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Authorized</th>
                            <th scope="col">Enabled</th>
                            <th scope="col">Colours</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <script src="~/Scripts/jquery-1.10.2.js"></script>
        <script src="~/Scripts/bootstrap.js"></script>
        <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
        <script src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>
            <script>

                $(document).ready(function () {

                    $("#peopleTbl").DataTable({

                        ajax: {
                            url: "/api/people",
                            dataSrc: "",
                            dataType: 'json'
                        },

                        columns: [
                            {
                                data: "fullName"
                            },

                            {
                                data: "isAuthorised"
                            },

                            {
                                data: "isEnabled"
                            },

                            {
                                data: "colours",
                                render: function (data, type, person) {
                                    var colorString="";
                                    $.each(data, function (key, value) {
                                        colorString += value.name + ", ";
                                    });
                                    return colorString.substring(0, colorString.length - 2);
                                }
                            }
                        ]

                    });
                    
                });
            </script>

        
    </body>
</html>




