
    <div class="row">
        <h1>People</h1>
    </div>
    <div class="row">
        <table id="peopleTbl" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Palindrome</th>
                    <th scope="col">Authorized</th>
                    <th scope="col">Enabled</th>
                    <th scope="col">Colours</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
